<footer id="footer" class="foot">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul class="list-unstyled">
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Home</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">About us</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Services</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Terms of service</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Privacy policy</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul class="list-unstyled">
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Events</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Promoter</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#"></a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#"></a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Ash Ln,
              <br />
              Ballytivnan, F91 YW50
              <br />
              Sligo,
              <br />
              <br />
              <strong>Email:</strong>
              s00214115@atu.ie
              <br />
            </p>
          </div>
          <div class="col-lg-3 col-md-6 footer-info">
            <h3>About Jessica Henry</h3>
            <p>Please follow me on my social media</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="copyright">
        &copy; Copyright
        <strong><span>S00214115</span></strong>
        . All Rights Reserved
      </div>
      <div class="credits">
        Designed by
        <a href="#">J.H</a>
      </div>
    </div>
  </footer>
  
  <!-- <a href="#" class="scroll-top"><i class="bi bi-arrow-up-square"></i></a> -->