.example-card {
    max-width: 400px;
    text-align: start;
  }
  
  .example-header-image {
    background-image: url('https://c1.thejournal.ie/media/2020/06/kin-3-752x501.png');
    background-size: cover;
  }
  .example-card .mat-card-header .example-card-icon {
    margin-left: auto;
    cursor: pointer;
  }
  .starred {
    color: yellow;
  }
  .purple-star {
    color: purple;
  }
  .example-card-icon.purple-star {
    color: purple;
  }

  .material-icons.starred {
    color: purple;
  }
  
  .material-icons.unstarred {
    color: gray;
  }
  
  .w-75{
    width: 10%;
  }
  
  .white-button {
    background-color: white !important;
    // color: white !important;
  }
  
.time-stamp{
  font-size: 14px;
  letter-spacing: 0.18px;
  line-height: 1.33;
  text-transform: uppercase;
  color: rgb(0, 151, 255);
  font-weight: 700;
}
.card-title{
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: rgb(25, 31, 40);
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
}
.bi-heart-fill{
  font-size: 1.4rem;

}
.card-sub-information{
  font-size: 14px;
  line-height: 1.33;
  color: rgb(76, 87, 108);
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
}

.bi-heart{
  font-size: 1.4rem;
}


.white-button {
  background-color: white;
  // color: white;
  position: relative;
  top: -40px;
  right: -8px;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.selected-card:hover {
  box-shadow: 0 8px 8px 8px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important;
  transform: translate3d(0,0,0);
  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}

.link{
  cursor: pointer;
}