<!-- <div class="container pt-5 mt-5 cognitoform">
  <amplify-authenticator [loginMechanisms]="['email']"
  [signUpAttributes]="[  'name',  'email',  'family_name' ]"
  [socialProviders]="['google']">
    <ng-template
    amplifySlot="authenticated"
    let-user="user"
    let-signOut="signOut">
    <div  *ngIf="user?.signInUserSession?.accessToken?.payload['cognito:groups'][0]=='manager'">
       {{onCheckRoute('manager')?onCheckRoute('manager'):""}}
    </div> -->
    <!-- <div *ngIf="this.authenticator?.user">
      {{onCheckRoute('home')?onCheckRoute('home'):""}}
    </div > -->
    <!-- </ng-template>
  </amplify-authenticator>
</div>
  -->
<div class="container pt-5 mt-5 cognitoform">
  <amplify-authenticator [loginMechanisms]="['email']"
  [signUpAttributes]="[  'name',  'email',  'family_name' ]"
  [socialProviders]="['google']">
    <ng-template
    amplifySlot="authenticated"
    let-user="user"
    let-signOut="signOut">
    <div *ngIf="user?.signInUserSession?.accessToken?.payload['cognito:groups']?.[0]=='manager'">
       {{onCheckRoute('manager')?onCheckRoute('manager'):""}}
    </div>
    <div *ngIf="!user?.signInUserSession?.accessToken?.payload['cognito:groups']">
      {{onCheckRoute('user')?onCheckRoute('user'):""}}
    </div >
    </ng-template>
  </amplify-authenticator>
</div>


<!-- https://docs.amplify.aws/lib/auth/social/q/platform/js/#configure-auth-category -->

<!-- <amplify-authenticator>
    <ng-template
      amplifySlot="authenticated"
      let-user="user"
      let-signOut="signOut">
      <app-home></app-home>
      <button (click)="signOut()">Sign Out</button>
    </ng-template>
  </amplify-authenticator> -->

  