<div class="container">
    <h1>Stripe Checkout</h1>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="cardNumber">Card Number</label>
        <div id="cardNumber" class="form-control"></div>
      </div>
      <div class="form-group">
        <label for="cardExpiry">Expiration Date</label>
        <div id="cardExpiry" class="form-control"></div>
      </div>
      <div class="form-group">
        <label for="cardCvc">CVC</label>
        <div id="cardCvc" class="form-control"></div>
      </div>
      <button type="button" class="btn btn-primary" (click)="checkout()">Checkout</button>
    </form>
  </div>
  