<mat-progress-bar *ngIf="this.isLoading" mode="indeterminate" color="primary" height="10px"></mat-progress-bar>

<div class="wrapper">
      <app-hero [title]="event?.name"></app-hero>  
    <div class="container p-2 mt-5">
      <div class="row bg-light pt-5">        
        <div class="col-4">
          <img class="card-img-top p-2"
            src="https://s3-images-web-ca2.s3.eu-west-1.amazonaws.com/{{event?.urlImg}}"
            alt="Card image cap"/>
          <p class="mt-3 pl-3 pl-md-2">
            <span>Refund Policy : {{event?.refundpolicy | titlecase}} </span>
          </p>
            <div *ngIf="userGroup=='manager'" class="row pt-4">
              <p>Total views: {{event?.views}}</p>
              <div class="col-6">
                <button class="btn btn-info w-100" (click)="onEditEvent()">Edit Event</button>
              </div>
              <div class="col-6">
                <button class="btn btn-outline-danger w-100" (click)="onDelete()">Delete Event</button>
              </div>

          </div>
          
        </div>
        
        <div class="col-8">
          <h1>{{ event?.name }}</h1>
          <p>{{event?.description}}</p>
          <h4>When and where</h4>
          <div class="row">
          <div class="col-2">
            <p>Date and time</p>
            <h5>{{event?.eventDateStarts | date : 'fullDate' }}</h5>
            <p>{{event?.eventDateStarts | date:'shortTime'}}</p>
          </div>
          <div class="col-6">
            <ul> 
              <p>Location</p>
              <li class="list-group-item">Town: {{event?.address?.city}},{{event?.address?.line1}} </li>
              <li class="list-group-item">{{event?.address?.county}}</li>
          </ul>
          </div>
          <div class="col-4">
        <app-buy-ticket [event]="event" ></app-buy-ticket> 
          </div>
        </div> 

        </div>
      </div>
      </div>
    </div>