<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container">
    <a class="navbar-brand" routerlink="" href="/home">
      <img src="/assets/images/logo.png" width="160" height="160" alt="CloneBrite" class="img-fluid" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">Set Offer</a>
        </li>
      </ul>
      <li class="nav-item d-flex justify-content-end">
        <button class="btn btn-primary text-center d-flex justify-content-end" (click)="onCreateEvent()">
          Create Event
        </button>
  
      </li>
      <li class="nav-item d-flex justify-content-end">
        <button class="btn btn-primary text-center d-flex justify-content-end" (click)="logout()">
          LogOut
        </button>
      </li>
      <li class="nav-item d-flex justify-content-end">
        <button class="btn btn-primary text-center d-flex justify-content-end">
          <a mat-button [matMenuTriggerFor]="beforeMenu" data-toggle="dropdown"
          class="nav-item nav-link dropdown-toggle user-action">
            <img  src="" class="avatar" alt="Avatar" src="{{user.picture}}"
            *ngIf="auth.user$ | async as user">    <span *ngIf="auth.user$ | async as user">{{ user.given_name }}</span><b class="caret"></b></a>
        
        <mat-menu #beforeMenu="matMenu" xPosition="before">
          <a  routerLink="/profile" class="dropdown-item" ><i class="bi bi-person pr-3 pt-2"></i>Profile</a>
          <a href="#" class="dropdown-item"><i class="bi bi-receipt-cutoff pr-3 pt-2"></i> Billing</a>
          <a href="#" class="dropdown-item"><i class="bi bi-sliders2 pr-3 pt-2"></i>Settings</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item"><i class="bi bi-box-arrow-left pr-3"></i> Logout</a>
        </mat-menu>
    
        </button>
      </li>




       <!-- <a mat-button [matMenuTriggerFor]="beforeMenu" data-toggle="dropdown"
        class="nav-item nav-link dropdown-toggle user-action pt-4">
          <img  src="{{user.picture}}" class="avatar" alt="Avatar" />
          *ngIf="auth.user$ | async as user" {{ user.given_name }}<b class="caret"></b></a>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <a  routerLink="/profile" class="dropdown-item" ><i class="bi bi-person pr-3 pt-2"></i>Profile</a>
        <a href="#" class="dropdown-item"><i class="bi bi-receipt-cutoff pr-3 pt-2"></i> Billing</a>
        <a href="#" class="dropdown-item"><i class="bi bi-sliders2 pr-3 pt-2"></i>Settings</a>
        <div class="divider dropdown-divider"></div>
        <a class="dropdown-item"><i class="bi bi-box-arrow-left pr-3"></i> Logout</a>
      </mat-menu> -->



    
    </div>
  </div>
</nav>
