<!-- <div *ngIf="!successOrder" class="row">
<div class="col-8">
<div class="container justify-content-center pt-4 mt-5 pb-4">
  <h1>{{event?.name}}</h1>
  <div class="col-12 mb-2">
    <i class="bi bi-geo-alt p-3"></i>
    <span>{{event?.address?.line1}} {{event?.address?.city}}, {{event?.address?.county}} {{event?.address?.eircode}}</span>
  </div>
  <div class="col-12">
    <i class="bi bi-calendar2-event p-3"></i>
    <span>15 jul - 2023 • 14:00 > 17 jul - 2023 • 07:00</span>
  </div>
  <mat-card *ngIf="!authenticator.user" class="mt-5">

    <mat-card-content>
      <div class="d-flex align-items-center">
        <span>Please <a routerLink="/login">log in</a> or create an account in EasyEvent to purchase this ticket.</span>
      </div>
    </mat-card-content>
  </mat-card>

  <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
    <div class="p-3 error-message" *ngIf="errorMessage">* {{ errorMessage }}</div>
    <div *ngIf="authenticator.user">
      <div *ngFor="let item of ticketsSelected">
          <div *ngFor="let i of createArrayFromQuantity(item.quantity)">
            <app-user-ticket [ticket]="item.ticket"  #userTicket></app-user-ticket>
          </div>
      </div>
    </div>
    <div class="mt-5">
      <button  class="btn btn-primary">Submit</button> -->
      <!-- <div *ngIf="isValid">
        <app-payment-manager [order]="order"></app-payment-manager>
      </div> -->
<!-- </div>


<div *ngIf="successOrder">

</div> -->
<div *ngIf="!successOrder" class="container">
    <div class=" justify-content-center pt-4 mt-5 pb-4 row">
      <div class="col-8">

      <h1>{{event?.name}}</h1>
      <div class="col-12 mb-2">
        <i class="bi bi-geo-alt p-3"></i>
        <span>{{event?.address?.line1}} {{event?.address?.city}}, {{event?.address?.county}} {{event?.address?.eircode}}</span>
      </div>
      <div class="col-12">
        <i class="bi bi-calendar2-event p-3"></i>
        <span>15 jul - 2023 • 14:00 > 17 jul - 2023 • 07:00</span>
      </div>
      <mat-card *ngIf="!authenticator.user" class="mt-5">
        <mat-card-content>
          <div class="d-flex align-items-center">
            <span>Please <a routerLink="/login">log in</a> or create an account in EasyEvent to purchase this ticket.</span>
          </div>
        </mat-card-content>
      </mat-card>
      <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
        <div class="p-3 error-message" *ngIf="errorMessage">* {{ errorMessage }}</div>
        <div *ngIf="authenticator.user">
          <div *ngFor="let item of ticketsSelected">
            <div *ngFor="let i of createArrayFromQuantity(item.quantity)">
              <app-user-ticket [ticket]="item.ticket"  #userTicket></app-user-ticket>
            </div>
          </div>
        </div>
        <div class="mt-5">
          <button  class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
      <div class="col-4 order-md-2 mb-4">
        <h1>This Checkout will expire in {{ getMinutes() }}:{{ getSeconds() < 10 ? '0' + getSeconds() : getSeconds() }}</h1>
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Your cart</span>
          <span class="badge badge-secondary badge-pill">3</span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let t of ticketsSelected">
            <div>
              <h6 class="my-0">Ticket name</h6>
              <small class="text-muted">{{t?.ticket?.title}}</small>
            </div>
            <span class="text-muted">{{t?.quantity}}  X  {{t?.ticket?.price}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span class="text-muted">Total (EUR)</span>
            <span class="text-muted" >{{totalAmount}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span class="text-muted">VAT (23%)</span>
            <span class="text-muted">{{(totalAmount * 0.23) | number:'1.2-2'}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (EUR)</span>
            <strong>{{totalAmount * 0.23 + totalAmount}}</strong>
          </li>
        </ul>

        <form class="card p-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Promo code">
            <div class="input-group-append">
              <button type="submit" class="btn btn-secondary">Redeem</button>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>
<div *ngIf="successOrder">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Thank you for your purchase!</h1>
        <p>Your order has been successfully placed. Below are your order details:</p>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2>Order #{{ order?._id }}</h2>
        <p>Hi {{ authenticator?.user?.username }},</p>
        <p>Here are the tickets you have purchased:</p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Ticket Type</th>
              <th>Price</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ticket of ticketsSelected">
              <td>{{ ticket?.ticket?.title }}</td>
              <td>{{ ticket?.ticket?.price | EUR }}</td>
              <td>{{ ticket?.quantity }}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="2" class="text-right"><strong>Price of Tickets:</strong></td>
              <td>{{ totalAmount  }}</td>
            </tr>
            <tr>
              <td colspan="2" class="text-right"><strong>Total + VAT:</strong></td>
              <td>{{ totalAmount * 0.23 + totalAmount | EUR  }}</td>
            </tr>
          </tfoot>
        </table>
        <p>Thank you for choosing us!</p>
      </div>
    </div>
  </div>
</div>
